<!DOCTYPE html>
<html>
  <head>
    <title>DebtTrack</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">DebtTrack</a>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <span class="nav-link">Olá, <%= current_user.name %>!</span>
            </li>
            <li class="nav-item">
              <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Cadastre-se", new_user_registration_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

    <%= yield %>
  </body>
</html>
